

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Welcome! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import "compass/reset";
@import "compass/css3";
@import "compass";




div[role="dialog"]{
	.translate_me{
		display:block;
		background:#fff;
		border-left:1px solid lighten(#999999, 15%);
		border-right:1px solid lighten(#999999, 15%);
		height:14px;
		padding:0 10px 2px;
		font-size:10px;
		color: #777;
		.translate_this_chat{
			margin-left:25px;
		}
		.faux_selector{
			position:absolute; 
			margin-top:-1px;
			cursor:pointer;
			width:17px;
			height:10px;
			display:inline-block;
			background:#ebebeb;
			border:1px solid #888;
			@include box-shadow(inset 0 0 5px #888);
			@include border-radius(5px);
			.switch{
				height:10px;
				width: 10px;
				background:#A50000;
				@include box-shadow(inset 0 0 2px #fff);
				@include border-radius(5px);
				position:absolute;
				@include transition(margin, .3s);
				&.active{
					background:#037E03;
					margin-left:7px;
				}
			}
		}
		.translator_setting_switch{
			float:right;
			color: #BDBDBD;
			cursor:pointer;
			&:hover{
	    		color:#A50000;
	    	}
		}
		.incoming_language_container{
		    display: none;
		    position: absolute;
		    margin-top: -370px;
		    width: 440px;
		    height: 310px;
		    margin-left: -270px;
		    -webkit-column-count: 4;
		    background: rgba(255,255,255,.95);
		    border:1px solid #999;
		    padding: 20px;
		    font-size: 16px;
		    @include box-shadow(0 0 10px #999);
		    &.active{
		    	display:block;
		    }
		    div{
		    	cursor:pointer;
		    	&:hover{
		    		color:#A50000;
		    	}
		    	&.active{
		    		color:#037E03;
		    	}
		    }
		}
		.translate_this_chat{
			cursor:pointer;
		    	&:hover{
		    		color:#A50000;
		    	}
		}
	}
	&.translate_this{
		.km[chat-dir="t"]{
			.kk{
				span{
					&:not(.kn){
						color:#ff0000;
							&.translated{ 
							color:#222222;
						}
					}
				}
			}
			.kl{
				color:#ff0000;
				&.translated{
					color:#222222;
				}
			}
		}
	}
}

.translator_settings_overlay{
	width:100%;
	height:100%;
	position:fixed;
	z-index:9999;
	top:0;
	display:none;
	@include background-image(radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 38%,rgba(255,255,255,0.95) 50%,rgba(255,255,255,0.75) 99%,rgba(255,255,255,0.75) 100%));
	.close{
		width:31px;
		height:31px;
		@include border-radius(50%);
		position:fixed;
		background:#000;
		border:3px solid #efefef;
		top:20px;
		right:20px;
		cursor:pointer;
		@include box-shadow(0 0 10px #999, inset 0 0 15px #fff);
		@include transform(rotate(45deg));
		&:before{
			width:0;
			height:31px;
			content:'';
			border-left:3px solid #fff;
			display:block;
			position:absolute;
			margin-left:14px;
		}
		&:after{
			width:31px;
			height:0;
			content:'';
			border-top:3px solid #fff;
			display:block;
			position:absolute;
			margin-top:14px;
		}
	}
	.container{
		position:absolute;
			width:0px;
			height:0px;
			margin:50%;
		.lang_cont{
			position:absolute;
			width:400px;
			margin-left:0px;
			text-align:center;
			color:#999;
			cursor:pointer;
			@include transition(all, .5s);
			@include transform(rotateY(90deg));
			&.active{
				@include transform(rotateY(0deg));
				margin-left:-200px;
			}
			&.prev{
				@include transform(rotateY(-90deg));
				margin-left:-400px;
			}
			.i_am_speaking{
				height:50px;
				margin-top:-50px;
				font-size:50px;
				background:#fff;
				border-left:1px solid #efefef;
				border-right:1px solid #efefef;

			}
			.language_selector{
				height:50px;
				font-size:50px;
				background:#fff;
				border-left:1px solid #efefef;
				border-right:1px solid #efefef;

			}
		}
		#back_arrow{
			position:absolute;
			margin-left:-300px;
			margin-top:-100px;
			height:200px;
			width:100px;
			background:#fff;
			@include transition(all, .3s);
			cursor:pointer;
			&:before{
				position:absolute;
				content:'<';
				margin-top:75px;
				line-height:50px;
				font-size:100px;
				color:#efefef;
				height:50px;
				width:100px;
				text-align:center;
			}
			&:hover{
				background:#efefef;
				&:before{
					color:#fff;
				}
			}  
		}
		#forward_arrow{
			position:absolute;
			margin-left:200px;
			margin-top:-100px; 
			height:200px;
			width:100px;
			background:#fff;
			@include transition(all, .3s);
			cursor:pointer;
			&:before{
				position:absolute;
				content:'>';
				margin-top:75px;
				line-height:50px;
				font-size:100px;
				color:#efefef;
				height:50px;
				width:100px;
				text-align:center;
			}
			&:hover{
				background:#efefef;
				&:before{
					color:#fff;
				}
			}
		}
	}
	
}






















